/* general */

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root{
	--color-bg-hero: #b8d1e5;
	--color-bg-footer: #000000;
	--color-bg-main: #ffffff;
	--color-box-8: #ffd830;
	--color-box-7: #0d2481;
	--color-box-6: #ff1c1c;
	--color-box-5: #0093ce;
	--color-box-4: #b4d0e7;
	--color-box-3: #d5001f;
	--color-box-2: #61082b;
	--color-box-1: #a2d39b;
	--color-bg-buttom: #0061ff;
	--color-box-big: #f5f5f5;
}

/* flex */
.d-flex{
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
}

.justify-center{
    justify-content:center;
}

.space-between{
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: #000000;
    padding: 0px 10px
}
.debug{
    border: 1px solid red
}

body{
    font-size: 1.1em;
}

.button{
    background-color: var(--color-bg-buttom);
    color: var(--color-bg-main);
    padding: 8px;
}

.container{
    max-width: 1200px;
    padding-top: 130px;
    margin: 0 auto;
}

.p-relative{
    position: relative;
}

.p-absolute{
    position: absolute;
}

/* header */

header{
    width: 100%;
}

nav{
    background-color: var(--color-bg-main);
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding: 15px;
}
#hero{
    background-color: var(--color-bg-hero);
}

.logo{
    width: 50px;
    display: inline;
}


h1{
    font-size: 5.3em;
    margin-bottom: 60px;
}

span{
    display:block;
    padding: 20px 0;
}

.hero-left{
    width: 35%;
}

.hero-right{
    width: 65%;
    
}

.hero-right > img{
    width:100%;
    height: 100%;
    object-fit: contain;
}
.fa-arrow-down{
    padding-top: 40px;
    font-size: 50px;
}

img.p-absolute{
    bottom: -50px
}
/* list */

ul{
    list-style: none;
}

