/* general */

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root{
	--color-bg-hero: #b8d1e5;
	--color-bg-footer: #000000;
	--color-bg-main: #ffffff;
	--color-box-8: rgb(255, 216, 48);
	--color-box-7: rgb(13, 36, 129);
	--color-box-4: rgb(255, 28, 28);
	--color-box-3: rgb(0, 147, 206);
	--color-box-6: rgb(180, 208, 231);
	--color-box-5: rgb(213, 0, 31);
	--color-box-2: rgb(97, 8, 43);
	--color-box-1: rgb(162, 211, 155);
	--color-bg-buttom: rgb(0, 97, 255);
	--color-box-big: rgb(245, 245, 245);
}
html{
    scroll-behavior: smooth;
}

.mb-20{
    margin-bottom: 20px;
}
.mb-30{
    margin-bottom: 30px;
}
.mt-30{
    margin-top: 30px;
}
.mb-50{
    margin-bottom: 50px;
}
.button{
    background-color: var(--color-bg-buttom);
    color: var(--color-bg-main);
    padding: 5px 12px;
}

.container{
    max-width: 1200px;
    padding-top: 130px;
    margin: 0 auto;
}

.small-container{
    max-width: 1000px;
    padding-top: 40px;
    margin: 0 auto;
}

.p-relative{
    position: relative;
}

.p-absolute{
    position: absolute;
}

/* flex */
.d-flex{
    display: flex;
    flex-wrap: nowrap;
}
.wrap{
    flex-wrap: wrap;
}
.justify-center{
    justify-content:center;
}
.align-center{
    align-items: center;
    align-content: center;
}
.align-start{
    align-items: flex-start;
    align-content: flex-start;
}
.space-between{
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: #000000;
    padding: 0px 10px
}
/* header */

header{
    width: 100%;
    margin-bottom: 100px;
}
.no-padding{
    padding:0px
}
.container.p-relative{
    bottom: -50px;
}
.logo img{
    display:inline;
}
.align-middle{
    vertical-align: middle;
}
nav{
    background-color: var(--color-bg-main);
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding: 15px;
    box-shadow: 1px 1px 1px rgba(134, 132, 132, 0.5);
}
#hero{
    background-color: var(--color-bg-hero);
}
.logo{
    width: 50px;
    display: inline;
}

h1{
    font-size: 5.3em;
    margin-bottom: 60px;
}
span{
    padding: 20px 0;
}
header span{
    display: block
}
.hero-left{
    width: 35%;
}
.hero-right{
    width: 65%;   
}
.hero-right > img{
    width:100%;
    height: 100%;
    object-fit: contain;
}
.fa-arrow-down{
    padding-top: 40px;
    font-size: 50px;
}

img.p-absolute{
    bottom: -50px
}
#year-plan{
    margin-left: 40px
}

/* body */
body{
    font-size: 1.1em;
}
.plans{
    width: 30%;
    border: 1px solid #666
}
.plans-head{
    text-align: center;
    padding:5px;
    font-size: 0.9em;
    border-bottom: 1px solid #666;
}
.plans-body{
    margin-top: 30px;
    padding: 5px 30px;
    font-size: 0.9em;
}
.plans-body span{
    padding: 7px 0;
}
h3{
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: 600;
}
.plan-cost{
    font-weight: 600;
    font-size: 0.9em;
    display: block;
}
.month{
    color: grey;
    display: block;
    margin-top: -10px;
}
.indent{
    text-indent: -10px;
    margin-left:20px
}
main .button{
    padding: 7px 35px;
}
.a-style{
    text-decoration: underline;
    padding: 0 0;
    color: #0000EE;
}
.d-block{
    display: block;
}
.plans .d-block{
    margin: 30px 0
}
hr{
    width: 50px;
}
h5{
    margin-top: 30px;
    font-size: 1em;
}
.plans-body .fa-check{
    color: rgb(0, 0, 255);
}
main .long-btn{
    padding: 7px 85px;
}
.small-container.contact-us{
    border: 1px solid grey;
    margin-top: 50px;
    padding-top: 5px;
}
.plans-body.left{
    width: 70%;
}
.plans-body.right{
    width: 30%;
}
h2{
    font-size: 2.8em;
}
img{
    display: block;
}
.img-contact-us{
    width: 70%;
    overflow: hidden;
}
.img-contact-us img{
    width: 90%;
}
.partner-dropbox{
    width: 30%;
    padding: 50px 0px
}
.button.bg-white{
    background-color: white;
    color: var(--color-bg-footer);
    border: 1px solid var(--color-bg-footer)
}
.mt-150{
    margin-top: 100px;
}
.mb-100{
    margin-bottom: 100px;
}
/* operations section*/
#operations{
    margin-top: 150px;
}
.wrapper-team-title{
    margin-top: 200px;
}
.team-title{
    width: 70%;
}

/* brand section */
.brand-wrapper{
    width: calc(100% / 3);
    height: calc(100vw / 3);
}
.brand{
    width:50%;
    height:50%;
    cursor: pointer;
}
.brand:hover{
    border: 15px solid rgba(255, 255, 255, 0.5);
}
.box-1{
    background-color: var(--color-box-1);
}
.box-2{
    background-color: var(--color-box-2);
}
.box-3{
    background-color: var(--color-box-3);
}
.box-4{
    background-color: var(--color-box-4);
}
.box-5{
    background-color: var(--color-box-5);
}
.box-6{
    background-color: var(--color-box-6);
}
.box-7{
    background-color: var(--color-box-7);
}
.box-8{
    background-color: var(--color-box-8);
}
.brand img{
    filter: invert(1);
    width: 50%;
}
.design-it-wrapper{
    background-color: var(--color-box-big);
    width: 35%;
    height: calc(100vw / 3);
    padding: 30px 40px;
    overflow-y: auto;
}
.design-it-logo{
    width:40%
}
.design-it-wrapper hr{
    width: 85px;
}
#free-try{
    background-color: var(--color-bg-hero);
}
#free-try div{
    padding-top: 100px;
}
#free-try h2{
    color: var(--color-box-2);
    width: 60%;
}
#free-try a{
    margin-bottom: 140px;
}

/* FAQ section */
.faq h4{
}
.faq i{
    display: block;
}
.faq div{
    padding: 30px 0px;
    border-top: 1px solid rgb(175, 175, 175);
    border-bottom:  1px solid rgb(175, 175, 175);
}
#no-border{
    border: 0;
}
/* list */

ul{
    list-style: none;
}
img.p-relative{
    bottom:-50px
}
.card{
    width: 30%;
}
.card-img{
    width:100%;
}
.card-img img{
    width: 100%;
}

/* footer */
footer{
    background-color: var(--color-bg-footer);
    color: var(--color-bg-main);
    width: 100%;
    margin-top: 150px;
}
footer h3{
    margin-bottom: 30px;
}
footer a {
    color: var(--color-bg-main);
}
.bottom-footer{
    padding-top: 50px;
    border-top: 1px solid white;
    margin-left:330px;
    width:100px;
    font-size: 0.9em;
    color: gray;
}
.top-footer{
    margin-bottom: 100px;
}
.fa-sort-up.p-relative{
    top:5px
}
.bottom-footer span{
    padding:0 3px;
}